<center><h1> To-Do</h1> 

<h2>To search</h2>
<form action="{% url 'search' %}" method="get">
    <input type="text" name="search"/>
    <button type="submit"> Search</button>
</form> 

    <br> 

<h2>To Update</h2>
<form method="post" action="/">
    {% csrf_token %}
    {{form.title}}
    <input type="submit" name="Create Task">
</form>

{% for task in tasks %}
    <div>
        <a href="{% url 'update_task' task.id %}">Update</a>
        <a href="{% url 'delete' task.id %}">Delete</a>
        <p>{{task}}</p>
    </div>
{% endfor %}

</center>